body, html {
  height: 100%;
  margin: 0;
}
* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  background-color: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
input {
  outline: none;
}